.pt-sm { padding-top: 1rem; }
.pt-md { padding-top: 3rem; }
.pt-lg { padding-top: 5rem; }

.pb-sm { padding-bottom: 1rem; }
.pb-md { padding-bottom: 3rem; }
.pb-lg { padding-bottom: 5rem; }

.pl-sm { padding-left: 1rem; }
.pl-md { padding-left: 3rem; }
.pl-lg { padding-left: 5rem; }

.ml-sm { margin-left: 1rem; }
.ml-md { margin-left: 3rem; }
.ml-lg { margin-left: 5rem; }